/* Body */

body {
    background-image: url("./assets/bg2.jpg");
    /* sumber: https://wallpapercave.com/w/wp2610910 */
    font-family: 'comic sans ms';
    color: #fff;
    text-align: center;
    background-size: cover;
}


/* Form */

form {
    background-color: #fff;
    background-image: url("./assets/bg2.jpg");
    background-size: cover;
    color: #fff;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(25, 25, 25, 0.5);
}


/* Form Input */

.form-input {
    margin: 20px 40px;
    text-align: left;
    margin-bottom: 5px;
}


/* Form input label */

.form-input label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}


/* Styling form-input input, dropdown, textarea */

.form-input input,
.form-input select,
.form-input textarea {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 5px 10px rgba(245, 238, 238, 0.308);
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    padding: 10px;
    display: block;
    width: 95%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Form input Radio button dan Checkbox */

.form-input input[type="radio"],
.form-input input[type="checkbox"] {
    display: inline-block;
    width: auto;
}


/* Button */

a.btn-merah {
    background: hsl(0, 91%, 41%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-merah:hover {
    background-color: #FFFFFF;
    /* text-decoration: none; */
    color: hsl(0, 85%, 57%);
}